$primary: #3b0764;
$secondary: #581c87;
$success: #16a34a;
$info: #7e22ce;
$warning: #c084fc;
$danger: #dc2626;

$light: #f3e8ff;
$dark: #24003d;

$body-bg: #f3e8ff;
$body-color: #2e1065;

$font-family-sans-serif: "Segoe UI", Arial, sans-serif;
$headings-font-family: Georgia, "Times New Roman", serif;

$border-radius: 0.6rem;
